header  {
height: 123px;
background-color: aliceblue;
width: 100%;
}



* {
  margin:0;
  padding:0;
}


a  {

  text-decoration: none;
}







.nini  {

color:cornsilk;
font-family: "Regular 400", sans-serif;
}



.yaya  {
color: burlywood;

}









.social  {

  display:flex;
  justify-content:right;
width: 10%;

color:burlywood;
font-size: 1.50rem;
margin-left: 90%;
   background-color: aqua;
  }



body  {
  background-image: url("images/tree-g8a46fd76d_1280.jpg");
    /* height: 600px; */
    background-size: cover;
    background-position: center;
  
 
  }
  
  
   


#dio {
    text-align: center;
   margin-bottom: 40px;
    font-family: "Regular 400", sans-serif;
    color: burlywood;
}


#contactForm  {
width: 100%;
display: flex;
 
 flex-direction: column;
 align-items: center;
}


#contact {

    width: 100%;
}


input[type="text"],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.288);
}

input[type="submit"] {
  width: 50%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

#message {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.288);
}

input[type="submit"]:hover {
  background-color:darkorange;
  
}



.form {
  border-radius: 5px;
  background-color: #f2f2f2;

}






#gmail  {
  color: white;
}

#email {

    
}

#titi  {

  color: whitesmoke;
}

#tata {

  color: white;
}




footer {
  
background-color:darkolivegreen;
width: 100%;

}



.mi {

 margin-right: 5%;
color: burlywood;

 font-size: large;


}



.picto  {
 width: 13%;
 
  display: flex;
  justify-content: center;
  
}

.pepe   {
  width: 33.33%;;
font-size: 1.30rem;
font-weight: bold;
color: whitesmoke;

}

.elementsFooter {
display:flex ;
flex-direction: row;
justify-content: space-around;
padding-top: 30px;
}

h2 {
  color: whitesmoke;
margin-bottom: 20px;

}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding-bottom: 20px;
}

.papa  {

 width: 33.33%;
  color: white;
}

.liensExternes  {

color: whitesmoke;

}

.liste  {

  list-style-position: inside;
}
