
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: rgb(87, 85, 85);
    font-family: "Montserrat Alternates", sans-serif;
}
/* ---------------------SECTION VIDEO -----------------------------------*/
.section_video{
}
/* --------------------SECTION ACTU------------------------------------------- */
.section_actu{
    display: flex;
    padding: 20px;
}

.section_actu_img{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section_actu img {
    height: 500px;
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 12px 12px 2px 1px  rgb(194, 200, 202);
    border-radius: 10px; 
}

.section_actu p {
    padding: 10px;
    text-align: center;
    
}
/* ----------------------SECTION MAP & NEWSLETTER----------------------------------- */
.section_map_newsletter{
}
/* ------------------------SECTION QUIZZ------------------------------------------------- */
.section_quizz{
}








footer {
 
background-color:darkolivegreen;
width: 100%;

}



.mi {

 margin-right: 5%;
color: burlywood;

 font-size: large;


}



.picto  {
 width: 13%;
 
  display: flex;
  justify-content: center;
  
}

.pepe   {
  width: 33.33%;;
font-size: 1.30rem;
font-weight: bold;
color: whitesmoke;

}

.elementsFooter {
display:flex ;
flex-direction: row;
justify-content: space-around;
padding-top: 30px;
}

h2 {
  color: whitesmoke;
margin-bottom: 20px;

}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding-bottom: 20px;
}

.papa  {

 width: 33.33%;
  color: white;
}

.liensExternes  {

color: whitesmoke;

}

.liste  {

  list-style-position: inside;
}
